@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido xdxd</h1>
    <p>Más información sobre <a href="https://docs.microsoft.com/aspnet/core">creación de aplicaciones web con ASP.NET
            Core</a>.</p>
</div>

@if (TempData["Excelente"] != null)
{
  <div class="alert alert-success" style="font-size: 22px; padding: 10px;">
    @TempData["Excelente"]
  </div>
}
